.header {
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	background: #464545;
	color: #FFFFFF;
	border: 1px solid transparent;
}

form {
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	background: #222222;
	border: 1px solid transparent;
}

.add_task {
	width: 85%;
	height: 15px;
	padding: 10px;
	border: 1px solid transparent;
}

.add_task_button {
	height: 38px;
	background: #464545;
	color: #FFFFFF;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 5px 28px; 
}

.add_task_button:hover {
	background: #999999;
}

table {
	width: 51%;
	margin: 10px auto;
	padding: 10px;
	background: #464545;
	border: 1px solid transparent;
}

tr {
	border-bottom: 1px solid #000000;
}

th {
	font-size: 20px;
	padding: 10px;
	border-bottom: 1px solid #000000;
	color: #FFFFFF;
}

td {
	border-bottom: 1px solid #000000;
	height: 25px;
	padding: 4px;
	color: #FFFFFF;
}

td:hover{
	background: #999999;
}

.task {
	text-align: left;
}

.delete_task {
	text-align: center;
}
